# /etc/netplan/01-br0.yaml
network:
  version: 2
  renderer: networkd

  ethernets:
    {{ nic_iface }}:
      dhcp4: false
      dhcp6: false
      optional: true

  bridges:
    br0:
      dhcp4: false
      dhcp6: false
      interfaces:
        - {{ nic_iface }}
      addresses:
        - {{ local_ip }}/24
      gateway4: 192.168.1.1
      nameservers:
        addresses: [192.168.1.1, 1.1.1.1]
      parameters:
        stp: false
        forward-delay: 0
